<div id="artists-index">
	<h1>アーティスト一覧</h1><br>
	<table>
		<tr>
			<th>ID</th>
			<th>アーティスト名</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
		<% @artists.each do |artist| %>
		<tr>
			<th><%= artist.id %></th>
			<th><%= artist.name %></th>
			<% if artist.discarded_at.nil? %>
				<th><%= link_to "編集", edit_admin_artist_path(artist) %></th>
				<th><%= link_to "削除", admin_artist_path(artist), method: :delete, "data-confirm" => "本当に削除しますか？" %></th>
			<% else %>
			  <th></th>
				<th>削除済み</th>
			<% end %>	
		</tr>
		<% end %>
	</table><br>
	<%= link_to "アーティストを追加する", new_admin_artist_path %>
</div>
