<h1> 購入履歴 </h1>

<table class="table table-striped">
  <thead>
    <th>購入者</th>
    <th>購入日</th>
    <th>宛名</th>
    <th>購入枚数</th>
    <th>合計金額</th>
    <th>発送状況</th>
    <th></th>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% user = User.with_discarded.find(order.user_id) %>
      <tr>
        <th><%= user.full_name(user) %></th>
        <th><%= order.created_at.strftime('%Y/%m/%d %H:%M') %></th>
        <th><%= order.address_name %></th>
        <th><%= order.total_count %>枚</th>
        <th><%= order.total_price %>円</th>
        <th><% if order.delivery_status == 0 %>
                発送状況: 配送前
            <% elsif order.delivery_status == 1 %>
              発送状況: 配送中
            <% else order.delivery_status == 2 %>
                発送状況: 配送済み
            <% end %>
        </th>

        <th><%= link_to "詳細", admin_order_path(order) %></th>

      </tr>
  <% end %>
  </tbody>
</table>
