<div id="labels-index">
	<h1>レーベル一覧</h1><br>
	<table>
		<tr>
			<th>ID</th>
			<th>ラベル名</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
		<% @labels.each do |label| %>
		<tr>
			<th><%= label.id %></th>
			<th><%= label.name %></th>
			<% if label.discarded_at.nil? %>
				<th><%= link_to "編集", edit_admin_label_path(label) %></th>
				<th><%= link_to "削除", admin_label_path(label), method: :delete, "data-confirm" => "本当に削除しますか？" %></th>
			<% else %>
			  <th></th>
				<th>削除済み</th>
			<% end %>
		</tr>
		<% end %>
	</table><br>
	<%= link_to "レーベルを追加する", new_admin_label_path %>
</div>
