<% if @product.errors.any? %>
              <div id="error_explanation">
                <h2><%= @product.errors.count %> error prohibited this user from being saved: </h2>
                <ul>
                <% @product.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
               <% end %>
                </ul>
              </div>
          <% end %>

<div id="product">
	<h2>商品登録</h2>
	<%= form_for([:admin, @product]) do |f| %>

		<h4>ジャケット編集</h4>
		<%= f.attachment_field :jacket_image %>

		<h4>アーティスト名</h4>
		<%= f.collection_select(:artist_id, Artist.all, :id, :name, { :prompt => "選択してください" , :multiple => true } ) %>

		<h4>アルバム名(商品名)</h4>
		<%= f.text_field :product_name %>

		<h4>価格(数字のみ入力)</h4>
		<%= f.number_field :price %>

		<h4>レーベル名</h4>
		<%= f.collection_select(:label_id, Label.all, :id, :name, { :prompt => "選択してください" , :multiple => true }) %>

		<h4>ジャンル名</h4>
		<%= f.collection_select(:genre_id, Genre.all, :id, :name, { :prompt => "選択してください" , :multiple => true }) %>

		<h4>シングル/アルバム</h4>
		<%= f.select :cd_type, [["シングル","シングル"],["アルバム","アルバム"]], :prompt => "選択してください" %>


		<div class="discs">
		        <%= f.fields_for :discs do |f| %>
		            <%= render "disc_fields", f: f %>
		        <% end %>
	            <label><%= link_to_add_association "ディスクを追加", f, :discs %></label>
		</div>

		<!-- <h4>配送ステータス</h4> -->
		<%# <%= f.select :sell_status, [["配送準備","配送準備"],["配送中","配送中"]], { :prompt => "選択してください" , :multiple => true } %><br><br> %>

		<%= f.submit "更新" %>

	<% end %>

	<%= link_to "商品一覧へ戻る", admin_products_path %>
</div>
